.grid {
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  display: grid;
}

/* a grid container and grid items are needed for a grid. To turn an html element into a grid, set the element display to grid or inline-grid;
*/
.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}